html,
body {
  background-color: #563D7C;
}
.widget {
  margin-top: 80px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  text-align: center;
}
@-webkit-keyframes ROTATE {
  from {
    -webkit-transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes ROTATE {
  from {
    -moz-transform: rotate(0);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes ROTATE {
  from {
    -ms-transform: rotate(0);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes ROTATE {
  from {
    -o-transform: rotate(0);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
@keyframes ROTATE {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.phone-input {
  width: 450px;
}
.panel-body {
  color: #303030;
  text-align: left;
}
.panel-heading {
  position: relative;
}
.cta {
  position: absolute;
  right: 10px;
  top: 5px;
}
.cta .glyphicon {
  font-size: 22px;
  color: #428BCA;
}
.modal-dialog {
  color: #303030;
  text-align: left;
}
.down {
  margin-top: 25px;
}
