<!DOCTYPE html>
<html>
  <head>
    <title>Revealed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container widget">
      <div class="starter-template">
        <h1>Revealed</h1>
        <p class="lead">What you didn't know could be found from just your phone number.</p>

        <p>Every time you sign up for an online service like WhatsApp or Facebook, you provide lots of personal information: name, email address, sometimes your phone number, picture, and more. Most users don't think twice before filling out this information. But every time you submit personal details, do you think about who will be able to view them?</p>
        <p>Some services like WhatsApp don't have any privacy controls, so the information you provide is always public. Other services like Facebook have privacy controls that default to public, so the information is made public until you choose otherwise. Individually, these services might not expose too many personal details, but in aggregate, they can reveal a shockingly large collection of facts.</p>
      </div>
    </div><!-- /.container -->

	<div class="container">
    <form class="form-inline widget" role="form" action="{{ url_for('view') }}" method="post">
	  <div class="form-group">
	    <label class="sr-only" for="phone_number">Phone number</label>
	    <input type="text" class="form-control" name="phone_number" placeholder="Enter phone number">
	  </div>
	  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
	  </form>
	</div>

  <div class="container widget">
    <h2>What can I do about it?</h2>
    <p>TODO</p>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

