<!DOCTYPE html>
<html>
  <head>
    <title>Team Purple</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>

    <script type="text/javascript">
      var endpoint_url = "{{ endpoint_url }}";

      showResults = function(data) {
        $('#resultsFrame').html(data);
      };

      $(document).ready(function() {
        $.ajax({
          url: endpoint_url,
          success: showResults,
        });
      });
    </script>
  </head>
  <body>
    <div class="container">

      <div class="starter-template">
        <h1>Reverse Image</h1>
        <p class="lead">This is a proof-of-concept for the reverse image searcher.</p>
      </div>

    </div>

  	<div class="container" id="resultsFrame">
  	</div>


    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

